.profile-edit {
  width: 100%;
  margin: 25px auto auto 25px;
  border-radius: 30px;
  border: 1px solid gray;
  padding: 25px 25px 49px;
}

.profile-pic {
  display: inline-block;
  width: 201px;
  height: 201px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 38px;
}

.container1 {
  background-color: white;
  max-width: 1371px;
  margin-left: 37px;
  margin-right: 6px;
  padding: 58px;
}

.profile-followers {
  padding: 25px;
  margin: 0 auto auto 25px;
}

.button-submit {
  float: right;
}

.EdgeButton--tertiary {
  background-color: #fff;
  border: 1px solid #66757f;
  color: #66757f;
  float: right;
  margin-top: 22px;
}

.EdgeButton, .EdgeButton:visited {
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.article-container {
  border: 1px solid #66757f;
  height: 30%;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 3px 3px grey;
}

.LoaderStylemine {
  height: 40vh;
  display: grid;
  align-items: center;
  margin-top: 350px;
  margin-left: 200px;
}

.image {
  height: 97%;
  width: 42%;
}

.artcile-header {
  margin-bottom: 102px;
}

.article-card {
  border: 1px solid #66757f;
  height: 30%;
  border-radius: 30px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 3px 3px grey;
}

.profile-card {
  height: 30%;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 30px;
}

.loader-card {
  margin-left: 159px;
}

.article-frame {
  padding-left: 36px;
}
