@import "./variables";

body {
  background-color: $white-background;
}

.page-top {
  margin-top: 170px;
}

.border-round {
  border-radius: 20px;
}

.root-content {
  min-height: 100vh;
  position: relative;
}

.footer-space {
  min-height: 130px;
}
